{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": [
                    "last 3 chrome version",
                    "last 3 firefox version",
                    "last 3 safari version"
                ]
            }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}